body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url(https://www.shop.kostyor.ru/images/thumbnails/808/27206_5.jpg);
}

.header {
    background: rgba(0, 0, 0, 0.3);
}

.header .menu {
    padding: 15px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.header .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.title {
    background: rgb(253 0 227 / 20%);
    max-width: 450px;
    padding: 5px;
    margin: 20px auto;
}

.logo {
    width: 50px;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.footer p {
    color: white;
}

.cat-title {
    font-size: 3rem;
    color: #eb00ffcf;
    margin-top: 40px;
    animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.element {
  animation-name: fadeIn;
  animation-duration: 2s;
}


.cat-form {
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    background-color: rgb(253 0 227 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.cat-form input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
}

.cat-form input[type="text"]:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    width: 100%;
    max-width: 260px;
}

.button {
    background-color: #eb00ffcf;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}


