{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1 class="cat-title">Contact Us</h1>
    <form action="/submit" method="POST" class="cat-form">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="name">Your Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="name">Your Message:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit" class="button">Meow</button>
    </form>

    <h3>Contact information</h3>
    <div class="contact-info">
        <div class="personal-info">
            <p>Customer Care Department:</p>
            <p>Name: {{contact_info.customer_service.name}}</p>
            <p>Position: {{contact_info.customer_service.position}}</p>
            <p>Phone number: {{contact_info.customer_service.phone}}</p>
            <p>Email: {{contact_info.customer_service.email}}</p>
        </div>
        <div class="address">
            <p>Address:</p>
            <p>Street: {{contact_info.address.street}}</p>
            <p>City: {{contact_info.address.city}}</p>
            <p>Postal code: {{contact_info.address.postal_code}}</p>
        </div>
    </div>

{% endblock %}