<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="cat-title">😻Enter Your Cat Details🍤</h1>
    <form action="/submit" method="POST" class="cat-form">
        <label for="name">😺Your Cat Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <div class="color-form">
            <label for="color">😺Your Favorite Color:</label>
            <input type="color" id="color" name="color">
        </div>

        <label class="form-profession" for="profession">😺Your Profession:</label>
        <select id="profession" name="profession">
            <option value="developer">Developer</option>
            <option value="designer">Designer</option>
            <option value="manager">Manager</option>
        </select>

        <p class="level-hobbies">😺Your Hobbies:</p>
        <label><input type="checkbox" name="hobbies" value="books"> Books </label>
        <label><input type="checkbox" name="hobbies" value="sports"> Sports </label>
        <label><input type="checkbox" name="hobbies" value="games"> Games</label>

        <p class="level-hobbies">😺Your Level:</p>
        <label><input type="radio" name="level" value="beginner"> Beginner</label>
        <label><input type="radio" name="level" value="advanced"> Advanced</label>

        <details class="click">
          <summary>
            Click on me
          </summary>
          <p>
            Feed and hug your kitty right now
          </p>
        </details>

        <button type="submit" class="button">🐈Meow</button>
    </form>
</body>
</html>